.button-with-text-xs {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 1px 15px;
  .label {
    font-size: 12px;
  }
}
.button-with-text-sm {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 1px 15px;
  .label {
    font-size: 16px;
  }
}
.button-with-text-md {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 1px 15px;
  .label {
    font-size: 20px;
  }
}
.button-with-text-lg {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 1px 15px;
  .label {
    font-size: 24px;
  }
}
.button-with-text-xl {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 1px 15px;
  .label {
    font-size: 28px;
  }
}

// Button Style for only icon
.button-with-icon-xs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  min-width: 24px !important;
  width: 24px !important;
}
.button-with-icon-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding: 1px 15px;
}
.button-with-icon-md {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px !important;
  padding: 1px 15px;
}
.button-with-icon-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px !important;
  padding: 1px 15px;
}
.button-with-icon-xl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px !important;
  padding: 1px 15px;
}
